@import "tailwindcss";

:root {
  --color-primary: #24318f;
  --color-secondary: #f1f2f6;

  --color-bg-main: #ffffff;
  --color-bg-sidebar: #fafafa;
  --color-bg-highlight: #b3b3fc;

  --color-success: #10b981;
  --color-warning: #f59e0b;
}

* {
  font-family: "Inter", sans-serif;
}
.sidebar {
  @apply bg-gray-50;
  width: 18%;
}

.brandLogo {
  @apply text-orange-500 mt-5;
}

.nav-item {
  display: flex;
  gap: 12px;
  font-size: 1.1rem;
  color: #777;
  padding: 4%;
}

.nav-item:hover {
  @apply bg-slate-900 text-white rounded-lg;
}

.nav-item.active {
  @apply bg-slate-900 text-white rounded-lg;
}

.invoice-pdf {
  background-color: #ffffff;
  color: #1e293b; /* slate-700 */
  border: 1px solid #e2e8f0; /* slate-200 */
  font-family: "Inter", sans-serif;
}

.invoice-pdf h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e293b;
}

.invoice-pdf table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  border: 1px solid #e2e8f0;
}

.invoice-pdf th {
  background-color: #f1f5f9; /* slate-100 */
  color: #475569; /* slate-600 */
  text-align: left;
  padding: 0.5rem;
}

.invoice-pdf td {
  padding: 0.5rem;
  border-top: 1px solid #e2e8f0;
}

.invoice-pdf .summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.invoice-pdf .summary-row strong {
  font-weight: 600;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
