@import "tailwindcss";

:root {
  --color-primary: #24318f;
  --color-secondary: #f1f2f6;

  --color-bg-main: #ffffff;
  --color-bg-sidebar: #fafafa;
  --color-bg-highlight: #b3b3fc;

  --color-success: #10b981;
  --color-warning: #f59e0b;
}

* {
  font-family: "Inter", sans-serif;
}
.sidebar {
  background-color: var(--color-bg-sidebar);
  width: 18%;
}

.brandLogo {
  @apply text-slate-700 mt-5;
}

.nav-item {
  display: flex;
  gap: 12px;
  font-size: 1.1rem;
  color: #777;
  padding: 4%;
}

.nav-item:hover {
  @apply bg-slate-200 text-slate-600 rounded-lg;
}

.nav-item.active {
  @apply bg-slate-200 text-slate-600 rounded-lg;
}

.invoice-heading p {
  @apply text-sm text-slate-500;
}

.invoice-table th,
.invoice-table td {
  @apply px-4 py-2;
}
